<!DOCTYPE html>
<html lang="en">

<head>
  <meta content="text/html; charset=utf-8" http-equiv=Content-Type>
  <!-- <meta charset="utf-8"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Zafar - Automated Urdu Paragraph Generator</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
    type="text/css">

  <!-- Custom styles for this template -->
  <link href="static/css/landing-page.css" rel="stylesheet">

  <link href="static/css/star2.css" rel="stylesheet">

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <style>
    @font-face {
      font-family: 'urduNastaliq';
      src: url('static/fonts/JameelNooriNastaleeqRegular.ttf') format('truetype'),
      url('static/fonts/JameelNooriNastaleeqRegular.woff2') format("woff2"),
      url('static/fonts/JameelNooriNastaleeqRegular.woff') format("woff");
    }
  </style>

  <script src="static/urduTyping.js" type=text/javascript></script>
  <script type=text/javascript>initUrduEditor()</script>


</head>

<body class="bg-dark">
  <div class="container static-top">
    <div class="center" style="text-align: center; color: crimson;">
      Disclaimer: This website is beta. It is currently under-construction and testing.
    </div>
  </div>

  <!-- Navigation -->
  <nav class="navbar navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">Zafar</a>
      <ul class="list-inline text-lg-left mb-0">
        <!-- <li class="list-inline-item">
          <a href="{{ url_for('index') }}">Home</a>
        </li> -->
        <li class="list-inline-item">
          <a href="{{ url_for('generate') }}">Generate</a>
        </li>
        <li class="list-inline-item">
          <a href="{{ url_for('index', _anchor='about') }}">About</a>
        </li>
        <li class="list-inline-item">
          <a href="{{ url_for('index', _anchor='contact-us') }}">Contact</a>
        </li>

      </ul>
    </div>
  </nav>

  <!-- Icons Grid -->

  <section class="text-white text-center">
    <div class="container p-5">
      <div class="form-row col-12 mx-auto">
        <p class="lead mb-4">
          To generate a paragraph, enter Urdu keywords in the following boxes. You can enter five keywords. Model will try to generate a paragraph in context of given keywords. You can also provide
          feedback after paragraph has been generated. Feedback comprises of score on coherency, relevance to the
          keywords and grammar of generated paragraph.</p>
        <p class="lead mb-4">
          Note that the following text-boxes for keywords have been set to type in Urdu. You just need to type in English and
          the characters will be transcribed to their phonetic counterparts in Urdu. Special Thanks to Nabeel Hasan Naqvi for this <a href="https://urdumehfil.net/wp-content/themes/sabaz-urdu/urdu-open-pad.js" target="_blank">feature</a>.</p>
        </div>

        <div class="row col-md-6 mb-3 mx-auto">
          <button id="layoutShowHideButton" class="btn btn-block btn-lg btn-primary">Show Urdu Keyboard Layout</button>
        </div>
      
        <div class="row" id="layoutImageDiv" style="display: none;">
          <img class="mx-auto d-block" src="static/img/urduPhoneticKeyBoardLayout.png">

          <p>Note: This keyboard works on mapping mechanism and not all mappings have been implemented as shown in the layout image. Special Thanks to <a class="text-center" href="https://www.mbilalm.com/urdu-phonetic-keyboard.php">mbilalm.com</a> for the layout.</p>
        </div>
    </div>
  </section>

  <section>

    <form action="{{ url_for('getKeyWords') }}" method="post">

      <div class="container mb-5">
        <div class="col-12 col-md-6 mb-3 mx-auto">
          <input lang="ur" name="key1" type="text" class="form-control form-control-lg text-white bg-dark"
            placeholder=" کرکٹ Keyword 1, example "
            style="font-family: urduNastaliq, Fallback, sans-serif; text-align: left; direction: rtl;" id="input_key1" required>
        </div>

        <script type=text/javascript>makeUrduEditor("key1", "24px")</script>

        <div class="col-12 col-md-6 mb-3 mx-auto">
          <input lang="ur" name="key2" type="text" class="form-control form-control-lg text-white bg-dark"
            placeholder=" پاکستان Keyword 2, example "
            style="font-family: urduNastaliq, Fallback, sans-serif; text-align: left; direction: rtl;" id="input_key2" required>
        </div>

        <script type=text/javascript>makeUrduEditor("key2", "24px")</script>

        <div class="col-12 col-md-6 mb-3 mx-auto">
          <input lang="ur" name="key3" type="text" class="form-control form-control-lg text-white bg-dark"
            placeholder=" میچ Keyword 3, example "
            style="font-family: urduNastaliq, Fallback, sans-serif; text-align: left; direction: rtl;" id="input_key3" required>
        </div>

        <script type=text/javascript>makeUrduEditor("key3", "24px")</script>

        <div class="col-12 col-md-6 mb-3 mx-auto">
          <input lang="ur" name="key4" type="text" class="form-control form-control-lg text-white bg-dark"
            placeholder=" جیت Keyword 4, example "
            style="font-family: urduNastaliq, Fallback, sans-serif; text-align: left; direction: rtl;" id="input_key4" required>
        </div>

        <script type=text/javascript>makeUrduEditor("key4", "24px")</script>

        <div class="col-12 col-md-6 mb-3 mx-auto">
          <input lang="ur" name="key5" type="text" class="form-control form-control-lg text-white bg-dark"
            placeholder=" ایک Keyword 5, example "
            style="font-family: urduNastaliq, Fallback, sans-serif; text-align: left; direction: rtl;" id="input_key5" required>
        </div>

        <script type=text/javascript>makeUrduEditor("key5", "24px")</script>

        <div class="col-12 col-md-12 mx-auto text-center">

          <div class="col-md-6 mx-auto">
            <label class="text-white" style="font-size: 16px;">No. of Paragraphs</label>
            <input name="numParas" type="range" min="1" max="5" value="3" class="range custom-range form-range"
              id="value" oninput="outputUpdate(value)">
            <output for=value id="output" class="text-white" style="font-size: 16px;">3</output>
          </div>

          <script>
            function outputUpdate(num) {
              document.querySelector('#output').value = num;
            }
          </script>
        </div>

      </div>

      <div class="container mb-5">
        <div class="col-12 col-md-3 mb-3 mx-auto">
          <button type="submit" class="btn btn-block btn-lg btn-primary">Generate Paragraph</button>
        </div>
      </div>

    </form>
  </section>

  <!-- Footer -->
  <footer class="footer bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">

          <p class="text-white small mb-1 mb-lg-0">&copy; Zafar 2021. All Rights Reserved.</p>
        </div>

      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script>
    $(document).ready(function () {
      $("#layoutShowHideButton").click(function () {
        $("#layoutImageDiv").toggle();

        if ($(this).text() == "Show Urdu Keyboard Layout") {
          $(this).text("Hide Urdu Keyboard Layout");
        } else {
          $(this).text("Show Urdu Keyboard Layout");
        };
      });
    });

  </script>
    


</body>

</html>